 body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #111010;
        color: white;
        overflow: hidden;
      }
      .navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #111010;
        position: fixed;
        top: 0;
        height: 44px;
        width: 100%;
        z-index: 1000;
      }
      .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }
      .nav-links li {
        margin-left: 20px;
      }
      .nav-links a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        transition: background 0.3s;
      }
      .nav-links a:hover {
        background: #575757;
        border-radius: 4px;
      }
      #screen,
      #ui,
      #transition-layer {
        position: absolute;
        top: 44px; /* Below navbar */
        left: 0;
        width: 100%;
        height: calc(100vh - 44px);
      }
       .button-container {
            display: flex;
            align-items: center;
            gap: 3px;
            margin-right: 3px;
        }
        .fullscreen-button a, .refresh-button a, .export-button a {
            color: white;
            text-decoration: none;
            padding: 8px 16px;
            transition: background 0.3s;
        }
        .fullscreen-button a:hover, .refresh-button a:hover, .export-button a:hover {
            background: #575757;
            border-radius: 4px;
        }
